.ant-layout-has-sider{
    padding: 15px !important;
}
.ant-layout-sider{
    border-radius: 10px;
}
.ant-layout-sider-children{
    height: 95vh !important;
    padding: 15px;
}
.anticon svg{
    height: 20px;
    width:20px;
    font-size: 20px !important;
}
.ant-layout-header{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.site-layout .site-layout-background{
    background: #fff;
    box-shadow: 0 0 3px #ccc !important;

}
.demo-logo-vertical h3{
    width: fit-content;
    font-size: auto;
}
.cart-count-h4{
    margin-right: 6px;
    margin-top: 7px;
    font-size: medium;
}
.cart-count{
    margin-right: 6px;
    cursor: pointer;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.spinner-border{
    height: 100;
    width: 100;
    
}
.ant-layout-content{
    height: 80vh;
    overflow-y: scroll;
}

button{
    background-color: rgb(15, 155, 15) !important;
    color: white !important;
}

.menubutton{
    background-color: white !important;
    color: black !important;
}